In [9]:
x_0 = 1.0
x_l = 2.0
y_0= 1+ (2)**(1/2)
N = 10
eps = 10 ** (-4)

In [2]:
def f(x, y):
    return (-y**2+3*x*y+2*x**2)/(x*y-x**2)

In [3]:
def modif_Eulers_method(N, x0 = x_0, xl = x_l, y0 = y_0): 
    y_h = []
    x_h = []
    h = (xl - x0) / N
    while x0 - xl < 0.00000001: 
        x_h.append(x0)
        y_h.append(y0)
        f1 = f(x0, y0)
        f2 = f(x0 + h/2, y0 + h * f1 / 2)
        x0 += h
        y0 += h * f2
    return x_h, y_h

In [4]:

xh, yh = modif_Eulers_method(N)
xh1, yh_1 = modif_Eulers_method(1000000)


x = xh[::(int(N/10))]
y = yh[::(int(N/10))]
z = yh_1[::int(1000000/10)]

In [6]:
import numpy as np
import pandas as pd
     

data = pd.DataFrame((x,y,yh_1[::int(1000000/10)]), index=['x', 'y', 'z']).dropna(axis=1)
data

,0,1,2,3,4,5,6,7,8,9,10
x,1.000000,1.100000,1.200000,1.300000,1.400000,1.50000,1.600000,1.700000,1.800000,1.900000,2.000000
y,2.414214,2.655635,2.897056,3.138478,3.379899,3.62132,3.862742,4.104163,4.345584,4.587006,4.828427
z,2.414214,2.655635,2.897056,3.138478,3.379899,3.62132,3.862742,4.104163,4.345584,4.587006,4.828427

In [7]:
for i in range(len(z)):
    z[i] -= y[i]
print('error',max(z))

error 9.213074747549399e-12

In [11]:
print(eps > max(z))

True